*,
*::before,
*::after {
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.board {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.cell {
  width: 100px;
  height: 100px;
  border: 1px solid lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.cell.x,
.cell.circle {
  cursor: not-allowed;
}
/* Styling Board */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}
.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  width: 15%;
  height: 90%;
  background-color: black;
  position: absolute;
}
.cell.x::before,
.board.x .cell:hover::before {
  transform: rotate(-45deg);
}
.cell.x::after,
.board.x .cell:hover::after {
  transform: rotate(45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 10px solid black;
  position: absolute;
}
